.items-list{
    background: #3a3a3a;
    border-radius: 15px;
    margin: 20px 0;
    border: 1px solid #555;
}

.items-list-item{
    padding: 10px 0;
    border-bottom: 1px solid #555;
    margin: .5rem 0;
    font-size: 20px;
}

.items-list-item:last-child{
    border: none;
}

.items-list-item div{
    margin-left: 10px;
}