.items-list{
    background: #3a3a3a;
    border-radius: 15px;
    border: 1px solid #555;
}

.items-list-item{
    padding: 15px 0;
    border-bottom: 1px solid #555;
    font-size: 20px;
    transition: all .2s cubic-bezier(.22,.61,.36,1);
}

.items-list-item:hover{
    background: #424242;
    cursor: pointer;
}

.items-list-item:last-child{
    border: none;
}

.items-list-item div{
    margin-left: 10px;
}